.projects {
   padding-top: 100px;
}

.project__titel h2 {
   font-size: 45px;
   font-weight: 700;
   text-align: center;
}

.project__titel p {
   color: #b8b8b8;
   font-size: 18px;
   letter-spacing: 0.8px;
   line-height: 1.5em;
   margin: 14px auto 30px auto;
   text-align: center;
   width: 56%;
}

.wrapper-content ul {
   display: flex;
   flex-wrap: wrap;
   width: 72%;
   height: 56px;
   margin: 0 auto;
   border-radius: 50px;
   background-color: rgb(255 255 255 / 10%);
   overflow: hidden;
}
.wrapper-content ul li {
   padding-top: 15px;
   text-align: center;
   width: 33.33333%;
}

.item-one {
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 55px 0px 0px 55px;
}

.item-two {
   border-top: 1px solid rgba(255, 255, 255, 0.5);
   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.item-three {
   border: 1px solid rgba(255, 255, 255, 0.5);
   border-radius: 0 55px 55px 0;
}

.list-links-page-project__link {
   display: inline-block;
   position: relative;
   color: rgb(233, 234, 237);
   font-size: 18px;
   letter-spacing: 0.8px;
   line-height: 1.5em;
   overflow: hidden;
   transition: clip-path 275ms ease;
}

.list-links-page-project__link::before {
   position: absolute;
   content: attr(data-link);
   color: #8254ff;
   clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
   transition: clip-path 275ms ease;
}
.list-links-page-project__link:hover::before {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.project__dashboard {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 30px;
   row-gap: 30px;
   margin-top: 30px;
}


/* // Устройства X-Small (портретные телефоны, менее 576 пикселей) */

@media (max-width: 575.98px) {
   .project {
      padding-top: 0;
   }
}

/* Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей) */

@media (max-width: 767.98px) {
}

/* // Устройства Medium (планшеты, менее 992 пикселей) */

@media (max-width: 991.98px) {
}

/* // Устройства Large (настольные компьютеры, менее 1200 пикселей) */

@media (max-width: 1199.98px) {
}

/* // Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей) */

@media (max-width: 1399.98px) {
}
