.footer {
   margin-top: auto;
   padding: 50px 50px;
   background-image: url(../../assets/img/footer-bg.png);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}

.footer__align-items {
   display: flex;
   align-items: center;
   justify-content: center;
}

/* // Устройства X-Small (портретные телефоны, менее 576 пикселей) */

@media (max-width: 575.98px) {
   .footer__align-items {
      flex-direction: column;
   }
}

/* Устройства Small (телефоны с горизонтальной ориентацией, менее 768 пикселей) */

@media (max-width: 767.98px) {
}

/* // Устройства Medium (планшеты, менее 992 пикселей) */

@media (max-width: 991.98px) {
}

/* // Устройства Large (настольные компьютеры, менее 1200 пикселей) */

@media (max-width: 1199.98px) {
}

/* // Устройства X-Large (большие настольные компьютеры, менее 1400 пикселей) */

@media (max-width: 1399.98px) {
}
